*/a.out
*.exe
*.d.*
*.d
*.o
*.a
*.so
*.swp
core
core.*
tmp
temp
test_*
*_exec
*.private.h
*.public.h
*codedef.*
*.pb.*
*.log.*
*.log
water/libs/mysql++/mysql++-3.2.1/
water/libs/mysql++/installed/
water/libs/google_protobuf/installed/
water/libs/google_protobuf/protobuf-3.0.0-alpha-1/
